<div class="p-3 flex justify-start bg-[#4E4EE0]">
    <div class="p-1 ">
        <!-- <p class="text-[#fff] p-1 text-center text-[32px] max-md:text-[24px] mb-0">Save2Settle</p> -->
         <img class="h-[48px]" src="assets/images/logo.svg" alt="Logo"/>
        <!-- <p class="text-[#fff] flex justify-center pl-[70px] w-full">Two steps for a better future</p> -->
    </div>
    <!-- <p class="text-[#667085] p-1 text-center text-[16px] max-sm:hidden ">Planning for retirement can feel overwhelming, but it doesn't have to be. Save2Settle is a user-friendly tool designed to help you estimate how much you need to save to retire comfortably. By inputting details like your current age, savings, and retirement goals, you can visualize your financial future and make informed decisions today.</p> -->
</div>