<div class="flex flex-col gap-[20px]">
    <div class="flex w-full gap-[20px]">
        <div class="flex flex-col bg-[#E6ECFE] w-full rounded-[16px] p-[16px] gap-4">
            <div class="flex gap-2 items-center">
                <img src="images/target.png" alt="logo" />
                <p class="text-[#363636] font-semibold text-[16px] max-md:text-[14px]">Current Monthly Savings</p>
            </div>
            <p class="text-[24px] font-bold text-[#4E4EE0]">
                <span>$</span> {{ animatedValue }}
            </p>
        </div>

        <div class="flex flex-col bg-[#CFEDFF] w-full rounded-[16px] p-[16px] gap-4">
            <div class="flex gap-2 items-center">
                <img src="images/target-1.png" alt="logo" />
                <p class="text-[#363636] font-semibold text-[16px] max-md:text-[14px]">Expected Monthly Savings</p>
            </div>
            <p class="text-[24px] font-bold text-[#3471CB]"><span>$</span>0</p>
        </div>
    </div>
</div>