<div class="flex items-center h-[48px] justify-between gap-6">
    <div class="flex items-center border-[#E8E8E8] border pl-4 pr-4 gap-4 pt-2 pb-2 w-full rounded-[10px]">
        <img src="images/search.png">
        <input type="text" class="outline-none w-full max-md:text-[14px] font-medium uppercase text-[#3a3a3a] placeholder:font-normal" placeholder="Enter Reference ID" />
    </div>
    <button class="pt-2 pb-2 w-[128px] text-[18px] bg-[#4E4EE0] rounded-[8px] text-white font-semibold max-md:text-[14px]">Search</button>
</div>