<div class="absolute top-0 bottom-0 left-0 right-0 bg-[#00000050] justify-center flex items-center">
    <div class="h-fit w-[400px] rounded-[12px] bg-white p-[24px] flex flex-col items-center justify-start gap-[16px]">
        <iframe class="h-[120px]"
            src="https://lottie.host/embed/5dc1b8b5-8850-4709-9485-e6fccd5ef2b4/Xzu5ePxuZk.lottie"></iframe>
        <div class="flex flex-col gap-4 w-full">
            <div class="text-center flex flex-col gap-[8px]">
                <p class="text-[22px] font-medium text-[#363636]">Your plan is updated successfully</p>

            </div>
            <app-pop-btn [value]="update" class="w-full"></app-pop-btn>

        </div>
    </div>
</div>